@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap';

html,
body {
  padding: 0;
  margin: 0;
  background-color: #193e72;
  font-family: 'Lato', sans-serif;
}

main {
  padding: 20px 0;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-close {
  z-index: 9999;
}

.bg-primary input[type='text']:focus {
  border-color: rgba(101, 103, 173, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(224, 223, 241, 0.8);
  outline: 0 none;
}
